body{
    background-color: #ebc8c0;
    margin: 0;
    padding: 0;
    /*弹性布局*/
    display: flex;
    /*水平居中*/
    justify-content: center;
    /*垂直居中*/
    align-items: center;
    /*视口高度*/
    height: 100vh;

    flex-direction: column;
    color:#ff5873;
    background-image: url(./images/mini-hearth.png);
    /*背景图片大小*/
    background-size: 75%;
}
.container{
    text-align: center;
}
.title{
    font-size: 28px;

}
.img-gif{
    width: 280px;
    /*给图片直角变成圆角*/
    border-radius: 8px;
}
button{
    border: 0 none;
    border-radius: 8px;
    background-color: #ff5873;
    color: #fff;

    padding: 10px 30px;
    margin: 0 10px;
}
.button_negative{
    background-color: #fff;
    color: #ff5873;
}
.button_reset{
    width: 60%;
    display: none;
}
.txt{
    padding: 20px;
    font-size: 25px;
    font-weight: 250;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
   
}